{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load static %}

{% block content %}

<br>
<div class="container">
<!--导航条 Start-->
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#产品图片展示" data-toggle="tab">产品图片展示</a></li>
      <li><a href="#主要性能参数" data-toggle="tab">主要性能参数</a></li>
      <li><a href="#主要外形及结构尺寸" data-toggle="tab">主要外型及尺寸结构</a></li>
      <li><a href="#计算" data-toggle="tab">输入参数</a></li>
      <li><a href="#结果展示" data-toggle="tab">结果展示</a></li>
      <li><a href="#">More...</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="产品图片展示">
            <div class="left-column">
            <h3> 产品图片展示 </h3>
            <h4>Z11H、Z11Y型PN25-PN160钢制内螺纹楔式闸阀</h4>
            <img src="{% static 'fazha_1.png' %}" width="800" height="300" style="display: block;margin-left: auto;margin-right: auto"; alt="">
        </div>
          <br>
      </div>

      <div class="tab-pane fade in active" id="主要性能参数">
          <div>
              <h3> 主要性能参数 </h3>
              <table class="table table-bordered" data-click-to-select="true">
            <tr>
              <th style="user-select: auto;" rowspan="2">请选择</th>
              <th style="user-select: auto;" rowspan="2">型号</th>
              <th style="user-select: auto;" rowspan="2">PN</th>
              <th style="user-select: auto;" rowspan="2">工作压力</th>
              <th style="user-select: auto;" rowspan="2">适用温度</th>
              <th style="user-select: auto;" rowspan="2">适用介质</th>
              <th style="user-select: auto;" colspan="4">材料</th>
            </tr>

            <tr>
              <th style="user-select: auto;">阀体、阀盖</th>
              <th style="user-select: auto;">阀杆</th>
              <th style="user-select: auto;">密封面</th>
              <th style="user-select: auto;">填料</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11-25</th>
              <th style="user-select: auto;">25</th>
              <th style="user-select: auto;">2.5</th>
              <th style="user-select: auto;" rowspan="3"><425</th>
              <th style="user-select: auto;" rowspan="5">水、蒸汽、油品</th>
              <th style="user-select: auto;" rowspan="3">碳素钢</th>
              <th style="user-select: auto;" rowspan="3">铬不锈钢</th>
              <th style="user-select: auto;" rowspan="3">铬不锈钢或碳钢堆焊硬质合金</th>
              <th style="user-select: auto;" rowspan="3">石棉石墨和柔性石墨</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-40</th>
              <th style="user-select: auto;">40</th>
              <th style="user-select: auto;">4.0</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-63</th>
              <th style="user-select: auto;">63</th>
              <th style="user-select: auto;">6.3</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-100</th>
              <th style="user-select: auto;">100</th>
              <th style="user-select: auto;">10</th>
              <th style="user-select: auto;" rowspan="2"><450</th>
              <th style="user-select: auto;" rowspan="2">锻钢</th>
              <th style="user-select: auto;" rowspan="2">锻钢</th>
              <th style="user-select: auto;" rowspan="2">铬不锈钢</th>
              <th style="user-select: auto;" rowspan="2">-</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-160</th>
              <th style="user-select: auto;">160</th>
              <th style="user-select: auto;">16</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11Y-25</th>
              <th style="user-select: auto;">25</th>
              <th style="user-select: auto;">2.5</th>
              <th style="user-select: auto;" rowspan="5"><425</th>
              <th style="user-select: auto;" rowspan="5">水、蒸汽、油品</th>
              <th style="user-select: auto;" rowspan="5">碳素钢</th>
              <th style="user-select: auto;" rowspan="5">铬不锈钢</th>
              <th style="user-select: auto;" rowspan="5">铬不锈钢或碳钢堆焊硬质合金</th>
              <th style="user-select: auto;" rowspan="5">石棉石墨和柔性石墨</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-40</th>
              <th style="user-select: auto;">40</th>
              <th style="user-select: auto;">4.0</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-63</th>
              <th style="user-select: auto;">63</th>
              <th style="user-select: auto;">6.3</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-100</th>
              <th style="user-select: auto;">100</th>
              <th style="user-select: auto;">10</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11H-160</th>
              <th style="user-select: auto;">160</th>
              <th style="user-select: auto;">16</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11Y-25I</th>
              <th style="user-select: auto;">25</th>
              <th style="user-select: auto;">2.5</th>
              <th style="user-select: auto;" rowspan="3"><550</th>
              <th style="user-select: auto;" rowspan="3">蒸汽、油品</th>
              <th style="user-select: auto;" rowspan="3">钛不锈钢</th>
              <th style="user-select: auto;" rowspan="3">耐热钢或铬不锈钢</th>
              <th style="user-select: auto;" rowspan="3">钢堆焊硬质合金</th>
              <th style="user-select: auto;" rowspan="3">石棉石墨或柔性石墨</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11Y-40I</th>
              <th style="user-select: auto;">40</th>
              <th style="user-select: auto;">4.0</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11Y-63I</th>
              <th style="user-select: auto;">63</th>
              <th style="user-select: auto;">6.3</th>
            </tr>

            <tr>
              <th><input type="checkbox"></th>
              <th style="user-select: auto;">Z11Y-25P</th>
              <th style="user-select: auto;">25</th>
              <th style="user-select: auto;">2.5</th>
              <th style="user-select: auto;" rowspan="5"><150</th>
              <th style="user-select: auto;" rowspan="5">弱腐蚀性介质</th>
              <th style="user-select: auto;" rowspan="5">铬镍钛不锈钢</th>
              <th style="user-select: auto;" rowspan="5">铬镍钛不锈钢</th>
              <th style="user-select: auto;" rowspan="5">铬镍钛钢堆焊硬质合金</th>
              <th style="user-select: auto;" rowspan="5">石棉石墨或柔性石墨</th>
            </tr>
          </table>
          </div>
    </div>

      <div class="tab-pane fade in active" id="主要外形及结构尺寸">
          <h3> 主要外形及结构尺寸 </h3>
        <!--  Table      -->
            <table class="table table-bordered">
              <tr>
                <th>请选择</th>
                <th>DN/mm</th>
                <th style="user-select: auto;">R/in</th>
                <th style="user-select: auto;">L</th>
                <th style="user-select: auto;">D</th>
                <th style="user-select: auto;">H</th>
                <th style="user-select: auto;">H1</th>
                <th style="user-select: auto;">D0</th>
                <th style="user-select: auto;">重量/Kg</th>
              </tr>


              <tr>
                  <th><input type="checkbox"></th>
                  <th style="user-select: auto;">15</th>
                  <th style="user-select: auto;">Re 1/2</th>
                  <th style="user-select: auto;">90</th>
                  <th style="user-select: auto;">34</th>
                  <th style="user-select: auto;">208</th>
                  <th style="user-select: auto;">229</th>
                  <th style="user-select: auto;">120</th>
                  <th style="user-select: auto;">3.5</th>
              </tr>


              <tr>
                  <th><input type="checkbox"></th>
                  <th style="user-select: auto;">20</th>
                  <th style="user-select: auto;">Re 3/4</th>
                  <th style="user-select: auto;">100</th>
                  <th style="user-select: auto;">44</th>
                  <th style="user-select: auto;">244</th>
                  <th style="user-select: auto;">275</th>
                  <th style="user-select: auto;">140</th>
                  <th style="user-select: auto;">5.7</th>
              </tr>

              <tr>
                  <th><label>
                      <input type="checkbox">
                  </label></th>
                  <th style="user-select: auto;">25</th>
                  <th style="user-select: auto;">Re 1</th>
                  <th style="user-select: auto;">110</th>
                  <th style="user-select: auto;">48</th>
                  <th style="user-select: auto;">261</th>
                  <th style="user-select: auto;">296</th>
                  <th style="user-select: auto;">160</th>
                  <th style="user-select: auto;">6.9</th>
              </tr>

              <tr>
                  <th><input type="checkbox"></th>
                  <th style="user-select: auto;">2</th>
                  <th style="user-select: auto;">Rc 1 1/2</th>
                  <th style="user-select: auto;">135</th>
                  <th style="user-select: auto;">64</th>
                  <th style="user-select: auto;">304</th>
                  <th style="user-select: auto;">352</th>
                  <th style="user-select: auto;">200</th>
                  <th style="user-select: auto;">8.5</th>
              </tr>

              <tr>
                  <th><input type="checkbox"></th>
                  <th style="user-select: auto;">40</th>
                  <th style="user-select: auto;">Rc 1 1/2</th>
                  <th style="user-select: auto;">135</th>
                  <th style="user-select: auto;">64</th>
                  <th style="user-select: auto;">304</th>
                  <th style="user-select: auto;">352</th>
                  <th style="user-select: auto;">200</th>
                  <th style="user-select: auto;">12.3</th>
              </tr>


              <tr>
                  <th><input type="checkbox"></th>
                  <th style="user-select: auto;">50</th>
                  <th style="user-select: auto;">2</th>
                  <th style="user-select: auto;">155</th>
                  <th style="user-select: auto;">75</th>
                  <th style="user-select: auto;">318</th>
                  <th style="user-select: auto;">377</th>
                  <th style="user-select: auto;">240</th>
                  <th style="user-select: auto;">30</th>
              </tr>


            </table>
      </div>
    <!--计算参数-->
      <div class="tab-pane fade in active" id="计算">
        <div class="container">
            <table class="table table-borderless" >
      <tbody>
        <tr>
          <td>
            <h4>入口流量:</h4>
                <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                <input id="entrance-traffic" type="text" class="form-control" placeholder="输入入口流量" >
                </div>
            </form>
          </td>

          <td>
              <h4>入口压力:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input id="entrance-pressure" type="text" class="form-control" placeholder="输入入口压力">
                </div>
            </form>

          </td>

          <td>
            <h4>管道直径:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入管道直径">
                </div>
            </form>
          </td>
        </tr>
        <tr>

          <td>
            <h4>阀门开度:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入阀门开度">
                </div>
            </form>
          </td>

          <td>
            <h4>管道长度:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入管道长度">
                </div>
            </form>
          </td>
          <td>
            <h4>入口速度:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入入口速度">
                </div>
            </form>
          </td>
        </tr>
        <tr>
          <td>
              <h4>流体密度:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入流体密度">
                </div>
            </form>
          </td>
          <td>
            <h4>流体粘度:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入流体粘度">
                </div>
            </form>
          </td>
          <td>
            <h4>最大网格尺寸:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入最大网格尺寸">
                </div>
            </form>
          </td>
        </tr>
        <tr>
            <td>
               <h4>截止时间:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="输入截止时间">
                    </label>
                </div>
            </form>
            </td>

            <td>
              <h4>输出间隙:</h4>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="输入输出间隙">
                </div>
            </form>
            </td>
        </tr>
      </tbody>
    </table>
        </div>
          <div class="container">
            <button type="button" onclick="multiplyBy()" class="btn btn-primary btn-lg" style="float: right; text-align: center;margin-top: 5px;margin-bottom:5px;">
                计算
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </div>

          </div>
    <!--计算参数-->
      <div class="tab-pane fade in active" id="结果展示">
          <div class="container">
              <h4>得出结果为：
              <span id = "result"></span>
              </h4>

          </div>
          <br>

          <div class="container">
              <h4>速度云图</h4>
              <img src="images/速度云图.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" alt="">
              <br>
              <h4>速度矢量图</h4>
              <img src="images/速度矢量图.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" alt="">
              <br>
              <h4>速度等值线</h4>
              <img src="images/速度等值线.png" style="display: block;margin-left: auto;margin-right: auto;width: 50%;" alt="">
              <br>
          </div>
          <br>
          <div class="container">
            <button type="button" class="btn btn-primary btn-lg" style="float: right; text-align: center;margin-top: 5px;margin-bottom:5px;">
                导出至Excel
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
          </div>
          <br>





      </div>








    <!--Tab Switch Js-->
    <script>
        $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    </script>
    <!--Tab Switch Js-->
        <script>
            function multiplyBy()
    {
            num1 = document.getElementById("entrance-traffic").value;
            num2 = document.getElementById("entrance-pressure").value;
            document.getElementById("result").innerHTML = num1 * num2;
    }
        </script>
    </div>
    <!--导航条 End-->
</div>

{% endblock %}